.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 4px solid #f0705a;
}
.nav-left {
  position: relative;
}
.nav-left svg {
  position: absolute;
  color: #0fffe9;
  top: 0;
  right: 0;
}
.nav-left a {
  font-size: 42px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  /* border: 2px solid white; */
  /* border-bottom: none; */
}
.nav-left a:hover {
  color: #ffffffbe;
  /* color: #f0705a; */
}

.nav-center {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  background-color: #2b2b2b;
  border-radius: 8px;
  font-size: 28px;
  transition: 0.2s;
  border: 2px solid transparent;
}
.nav-center:hover {
  border: 2px solid rgba(255, 255, 255, 0.089);
}
.nav-center:focus-within {
  border: 2px solid rgb(255, 255, 255);
}
.nav-center:hover,
.nav-center:focus-within {
  background-color: #373737;
}

.search-icon {
  color: #fff;
  margin: 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  font-size: 18px;
  user-select: none;
  padding: 15px;
  /* pointer-events: none;*/
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-right svg {
  font-size: 30px;
}
.nav-right .signup-btn,
.nav-right .login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent; /* Slightly lighter button background */
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
.nav-right .login-btn {
  margin: 10px 20px;
  padding: 0;
}
.nav-right .signup-btn {
  background: #f0705a;
}
.nav-right .nav-btn:hover {
  /* color: #f0705a; */
}

.nav-right .nav-btn:hover {
  /* background-color: #009687ce; Darker button background on hover */
}
/* LOGGED IN  */
.profile-dropdown-btn {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
}
.profile-avatar {
  width: 50px;
  border-radius: 12px;
}
.dropdown-content {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #2b2b2b;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  cursor: default;
  transition: 0.3s;
  display: none;
  align-content: space-around;
  flex-direction: row;
}
.show-flex {
  display: flex;
}

.dropdown-content a,
.dropdown-content span {
  font-size: 18px;
  cursor: pointer;
  color: white;
  width: 100%;
  text-align: left;
  padding: 20px;
}
.dropdown-content a:hover,
.dropdown-content span:hover {
  cursor: pointer;
  text-decoration: underline;
}
